.games-card{
    width: 100%;
    background-color: white;
    display: flex;
    border-radius: 10px;
    gap: 1.3rem;
    color: black;
}
.games-card img{
    width: 25%;
    border-radius: 10px;
}
.games{
    display: grid;
    gap: 1rem;
}

/* xs */
@media (min-width: 475px){
    .container{
        max-width: 475px;
    }
  }
  
  /* sm */
  @media (min-width: 640px){
    .container{
        max-width: 640px;
    }
    .games{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }
    .games-card{
        
    }
  }
  
  /* md */
  @media (min-width: 768px){
    .container{
        max-width: 768px;
    }
  }
  
  /* lg */
  @media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
    .games{
        display: grid;
        grid-template-columns: auto auto auto;
    }
  }
  
  /* xl */
  @media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
  }
  
  /* 2xl */
  @media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
  }