.about{
    display: flex;
    flex-direction: column;

}
.about__para{
    color: var(--clr-slate400);
}
.about__title{
    margin-top: 2rem;
}
.about__img{
    margin: 2rem 0;
}


.skill__title{
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    margin: auto;
  }
  
  .skill-name{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .skill-bar{
    height: 14px;
    background: #adadad;
    border-radius: 3px;
  }
  
  .skill-per{
    height: 14px;
    background: var(--clr-rose);
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    color: black;
    background: var(--clr-light);
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
  
    background: #f1f1f1;
    top: -10px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }
  
  @keyframes fillBars{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }


/* xs */
@media (min-width: 475px){
    .about{
        display: flex;
        flex-direction: column;
    
    }
    .about__para{
        color: var(--clr-slate400);
    }
    .about__title{
        margin-top: 2rem;
    }
    .about__img{
        margin: 2rem 0;
    }
    
}

/* sm */
@media (min-width: 640px){
    
}

/* md */
@media (min-width: 768px){
    .about{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .about__para{
        color: var(--clr-slate400);
    }
    .about__title{
        margin-top: 2rem;
    }
    .about__img{
        margin: 2rem 0;
        
    }
}

/* lg */
@media (min-width: 1024px){
    .about{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        max-width: 900px;
    }
    .about__para{
        font-size: var(--size-xl);

    }
    .about__title{
        margin-top: 2rem;
        font-size: 2rem;
    }
    .about__img{
        margin: 2rem 0;
        max-width: 400px;
    }
    
  
  .skills{
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
  }
  



}

/* xl */
@media (min-width: 1280px){
  .about{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 1100px;
}
}

/* 2xl */
@media (min-width: 1536px){
  .about{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 1200px;
}
}

