.about{
    text-align: center;
    color: black;
    height: 220px;
    background-image: url('/img/des.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}
.about h2{
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 5px;
    padding-top: 50px;
}


@media (min-width: 475px){
    .about{
        height: 300px;
        padding: 20px;
      }
}

/* sm */
@media (min-width: 640px){
    .about{
        width: 640px;
        height: 300px;
      }
}

/* md */
@media (min-width: 768px){
    .about{
        width: 768px;
        height: 250px;
      }
}

/* lg */
@media (min-width: 1024px){
    .about{
        width: 1024px;
        height: 300px;
      }
}

/* xl */
@media (min-width: 1280px){
    .about{
        width: 1280px;
        height: 350px;
      }
}

/* 2xl */
/* @media (min-width: 1536px){
    .about__img{
        width: 1536px;
        height: 400px;
      }
} */







