.co__title{
    font-size: 16px;
  
}

.mobile-nav__menu li a{
    color: black;
}



/* xs */
@media (min-width: 475px){
  .card{
    font-size: 1rem;
  }
}

/* sm */
@media (min-width: 640px){
    .co{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    .card__name{
        width: 150px;
    }
}

/* md */
@media (min-width: 768px){
    .card__name{
        width: 200px;
    }
}

/* lg */
@media (min-width: 1024px){
    .co{
        /* display: grid; */
        grid-template-columns: auto auto auto;
        /* column-gap: 1rem; */
    }
}

/* xl */
@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

/* 2xl */
/* @media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}
 */





























