.contact{
    display: flex;
    flex-direction: column;
}

.contact__title{
    text-align: center;
}
.contact__para{
    text-align: center;
    color: var(--clr-slate400);
    margin-top: 1rem;
}
.contact__btn{
    font-size: var(--size-xl);
    margin: 2rem auto;
    width: 150px;
    height: 50px;
    text-align: center;
}

.fa{
    font-size: var(--size-2xl);
    text-align: center;
    padding-top:17px;
    width: 60px;
    height: 60px;
    background-color: var(--clr-rose);
    border-radius: 50%;
    margin: 10px;
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
}
.follow{
  margin: 0 auto;
  text-align: center;
}

.fa-facebook:hover{
    background-color: #3b5998;
    transition-duration: 0.3s;
}
.fa-instagram:hover{
    background-color: #6b2f1f;
    transition-duration: 0.3s;
}
.fa-linkedin:hover{
    background-color: #0A66C2;
    transition-duration: 0.3s;
}
.fa-whatsapp:hover{
    background-color: #25D366;
    transition-duration: 0.3s;
}
.fa-twitter:hover{
    background-color: #1DA1F2;
    transition-duration: 0.3s;
}
.fa-google:hover{
    background-color: #0F9D58;
    transition-duration: 0.3s;
}








/* xs */
@media (min-width: 475px){
   
}

/* sm */
@media (min-width: 640px){
    .contact__para{
        width: 500px;
        margin: 0 auto;
        font-size: var(--size-lg);
        margin-top: 2rem;
    }
}

/* md */
@media (min-width: 768px){
    .contact__para{
        width: 500px;
        margin: 0 auto;
        font-size: var(--size-lg);
        margin-top: 2rem;
    }
}

/* lg */
@media (min-width: 1024px){
    .contact__para{
        width: 600px;
        margin: 0 auto;
        font-size: var(--size-lg);
        margin-top: 2rem;
    }
}

/* xl */
@media (min-width: 1280px){
    .contact__para{
        width: 800px;
        margin: 0 auto;
        font-size: var(--size-lg);
        margin-top: 2rem;
    }
}

/* 2xl */
@media (min-width: 1536px){
    
}



