.footer{
    background-color: var(--clr-slate200);
    color: var(--clr-dark);
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer__main{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.footer li{
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: var(--clr-dark);
    font-size: var(--size-sm);
    transition: 0.3s;
}
.footer a:hover{
    color: var(--clr-rose);
}
.footer__title{
    margin-top: 30px;
    text-align: center;
    font-size: var(--size-xs);
}
.footer__title2{
    text-align: center;
    font-size: var(--size-xs);
}
.footer__title2 a{
    color: var(--clr-rose);
}


/* xs */
@media (min-width: 475px){
    .footer__main{
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
}

/* sm */
@media (min-width: 640px){
    .footer ul{
        padding: 0 50px;
    }
    .footer__main{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

/* md */
@media (min-width: 768px){
    .footer ul{
        padding: 0 70px;
    }
    .footer__title{
        font-size: var(--size-sm);
    }
    .footer__title2{
        font-size: var(--size-sm);
    }
}

/* lg */
@media (min-width: 1024px){
    .footer ul{
        padding: 0 90px;
    }
}

/* xl */
@media (min-width: 1280px){
    .footer ul{
        padding: 0 100px;
    }
}

/* 2xl */
/* @media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
} */




