/* xs */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.header__menu {
  display: none;
}

.header__bars {
  color: var(--clr-light);
  display: block;
  width: 30px;
}
.logo{
  
}
.logo img{
  width: 40px;
  border-radius: 50%;
}



@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
  .header__menu {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 2rem;
  }
  .header__logo{
    display: inline-block;
  }
  .header__link {
    font-size: var(--size-sm);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr--slate600);
    letter-spacing: -0.05rem;
    text-transform: uppercase;
  }

  .header__link:hover {
    color: var(--clr-rose);
    transition-duration: 0.3s;
  }

  .header__bars {
    display: none;
  }
}

/* md */
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2rem;
  }
  .header__logo{
    display: inline-block;
  }


  .header__link {
    font-size: var(--size-sm);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr--slate600);
    letter-spacing: -0.05rem;
    text-transform: uppercase;
  }

  .header__link:hover {
    color: var(--clr-rose);
    transition-duration: 0.3s;
  }

  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-sm);
  }

}

/* xl */
@media (min-width: 1280px) {
  .header__link {
    font-size: var(--size-md);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
