.profile{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.profile__img{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    /* margin-top: 3rem; */
}
.profile__subtitle{
    color: var(--clr-slate400);
    font-size: var(--size-base);
    /* line-height: 0.9; */
    margin-top: 1rem;
}
.profile__title{
    font-size: var(--size-3xl);
    line-height: 0.9;
    text-transform: uppercase;
}
.profile__para{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate400);
}
.profile__btn{
    text-transform: capitalize;
    font-size: var(--size-sm);
}




/* xs */
@media (min-width: 475px){
    .profile{
        gap: 1.5rem;
    }
    .profile__img{
        width: 16rem;
        height: 16rem;
        /* margin-top: 3rem; */
    }
    .profile__subtitle{
        font-size: var(--size-lg);
        /* line-height: 0.9; */
    
    }
    .profile__title{
        font-size: var(--size-5xl);
        
    }
    .profile__para{
        max-width: 60ch;
        font-size: var(--size-base);
    }
    .profile__btn{
    
        font-size: var(--size-base);
    }
    
}

/* sm */
@media (min-width: 640px){
    
}

/* md */
@media (min-width: 768px){
    
}

/* lg */
@media (min-width: 1024px){
    .profile{
        gap: 1.5rem;
    }
    .profile__img{
        width: 20rem;
        height: 20rem;
        /* margin-top: 3rem; */
    }
    .profile__subtitle{
        font-size: var(--size-2xl);
        /* line-height: 0.9; */
    
    }
    .profile__title{
        font-size: var(--size-7xl);
        
    }
    .profile__para{
        max-width: 60ch;
        font-size: var(--size-lg);
    }
    .profile__btn{
    
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px){
    .profile{
        gap: 2rem;
    }
    .profile__img{
        width: 22rem;
        height: 22rem;
        margin-top: 3rem;
    }
    .profile__subtitle{
        font-size: var(--size-4xl);
        /* line-height: 0.9; */
    
    }
    .profile__title{
        font-size: var(--size-7xl);
        
    }
    .profile__para{
        max-width: 60ch;
        font-size: var(--size-xl);
    }
    .profile__btn{
    
        font-size: var(--size-xl);
    }
}

/* 2xl */
@media (min-width: 1536px){
    
}











