@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate200: #cbd5e1;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;

/* sizes */
--size-xxs: 0.5rem;
--size-xs: 0.75rem;
--size-sm: 0.875rem;
--size-base: 1rem;
--size-lg: 1.125rem;
--size-xl: 1.25rem;
--size-2xl: 1.5rem;
--size-3xl: 1.875rem;
--size-4xl: 2.25rem;
--size-5xl: 3rem;
--size-6xl: 3.75rem;
--size-7xl: 4.5rem;
--size-8xl: 6rem;
--size-9xl: 8rem;
--size-10xl: 10rem;
}
.ppppp{
  /* width: 20px; */
  display: flex;
  width: 100%;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
img,
picture,
video,
canvas,
svg{
  display: block;
  max-width: 100%;
  user-select: none;
}
button{
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
a{
  color: var(--clr-rose);
}
strong{
  color: var(--clr-indigo);
}
.btn{
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05rem;
  background-color: var(--clr-rose);
  color: var(--clr-light);
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 40px 28px rgba(225, 29, 72, 0.25), 0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}
.download{
  background-color: #0ea5e9;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: var(--clr-light);
}
.badge{
  display: flex;
  margin-top: 5px;
  padding-bottom: 5px;
  gap: 10px;
  font-size: 12px;
}
.badge-a{
  background-color: #10b981;
  padding: 1px 5px;
  border-radius: 6px;
}
.badge-b{
  background-color: #ef4444;
  padding: 1px 5px;
  border-radius: 6px;
}
.container {
  /* width: 100%; */
  /* width: 90%; */
  margin-left: auto;
  margin-right: auto;
  /* padding: 0 20px; */
}

.section{
  margin-top: 5rem;
}




/* xs */
@media (min-width: 475px){
  .container{
      max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px){
  .container{
      max-width: 640px;
  }
}

/* md */
@media (min-width: 768px){
  .container{
      max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px){
  .container{
      max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px){
  .container{
      max-width: 1280px;
  }
}

/* 2xl */
/* @media (min-width: 1536px){
  .container{
      max-width: 1536px;
  }
} */